<div class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" style="width: 700px;" >
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button" class="close" ng-click="$hide()" >&times;</button >
                <h4 class="modal-title" >
                    <span ng-cloak >查看角色</span >
                </h4 >
            </div >
            <div class="modal-body" >
                <div class="block noborder" >
                    <div class="block-content" >
                        <div class="table-responsive panel panel-table first-min" >
                            <table class="table table-striped table-hover" >
                                <thead class="table-header" >
                                <tr >
                                    <td >序号</td >
                                    <td >角色名称</td >
                                    <td >角色编号</td >
                                    <td >角色描述</td >
                                    <td >截止时间</td >
                                    <td >状态</td >
                                </tr >
                                </thead >
                                <tbody class="table-body" ng-cloak >
                                <tr ng-show="!beans" >
                                    <td colspan="6" class="text-center" >没有符合条件的记录！</td >
                                </tr >
                                <tr ng-repeat="foo in beans" >
                                    <td ng-bind-template="{{$index+1}}" ></td >
                                    <td ng-bind-template="{{foo.roleName}}" ></td >
                                    <td ng-bind-template="{{ foo.roleCode }}" ></td >
                                    <td ng-bind-template="{{ foo.roleDescription | substr:30 }}" ></td >
                                    <td ng-bind-template="{{ foo.roleEndDate | eccrmDate }}" ></td >
                                    <td ng-bind-template="{{ foo.roleState }}" ></td >
                                </tr >
                                </tbody >
                            </table >
                        </div >
                    </div >
                </div >
            </div >
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" ng-click="$hide()" >关闭</button >
            </div >
        </div >
    </div >
</div >

