<style>
    .row {
        margin: 0 0 5px 0;
    }
</style>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header" ng-cloak>
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">
                    <span ng-cloak>审核打回</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="form-label col-3">
                            <label>打回原因:</label>
                        </div>
                        <textarea ng-model="beans.reason" class="col-8" rows="10"
                                  validate validate-required validate-max-length="100"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer" ng-cloak>
                <button type="button" class="btn btn-default btn-primary" ng-click="save();"
                        ng-cloak
                        ng-disabled="!form.$valid">打回
                </button>
                <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
            </div>
        </div>
    </div>
</div>