<div class="block" >
    <div class="block-header" >
            <span class="header-button" >
                <button class="btn btn-min btn-green" >
                    <span class="glyphicons disk_save" ></span > 保存
                </button >
            <a class="btn btn-min btn-green" ng-href="document/" >
                <span class="glyphicons message_forward" ></span > 取消
            </a >
            </span >
    </div >
    <div class="block-content" >
        <div class="content-wrap" >
            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >名称:</label >
                </div >
                <input type="text" class="col-3 " ng-model="document.name" />

                <div class="form-label col-1-half" >
                    <label >性别:</label >
                </div >
                <div class="col-1-half" >
                    <input type="radio" name="sex" >&nbsp;男</input>
                    &nbsp; &nbsp;&nbsp;
                    <span ><input type="radio" name="sex" /> &nbsp;女</span >
                </div >

            </div >

            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >职务:</label >
                </div >
                <input type="text" class="col-3 " ng-model="document.name" />

                <div class="form-label col-1-half" >
                    <label >类型:</label >
                </div >
                <select class="col-3" ng-model="document.docType" >
                    <option value="contract_protocol" >主联系人</option >
                    <option value="contract_protocol" >紧急联系人</option >
                </select >
            </div >

            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >E-MAIL:</label >
                </div >
                <input type="text" class="col-3 " ng-model="document.name" />

                <div class="form-label col-1-half" >
                    <label >办公电话:</label >
                </div >
                <div class="col-3" >
                        <span class="col-2-half" >
                            <input type="text" class="col-12 " ng-model="document.part1" />&nbsp;
                        </span >
                        <span class="col-7" style="padding: 0 5px;" >
                            <input type="text" class="col-12" ng-model="document.part2" />&nbsp;
                        </span >
                        <span class="col-2-half" >
                            <input type="text" class="col-12 " ng-model="document.part3" />
                        </span >
                </div >
            </div >

            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >手机:</label >
                </div >
                <input type="text" class="col-3 " ng-model="document.name" />
            </div >

            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >用户类型:</label >
                </div >
                <select class="col-3" ng-model="document.docType" >
                    <option value="contract_protocol" >超级管理员</option >
                    <option value="business_license" >系统管理员</option >
                    <option value="certificate" >一般用户</option >
                    <option value="certificate" >非用户</option >
                </select >

                <div class="form-label col-1-half" >
                    <label >用户名:</label >
                </div >
                <input type="text" class="col-3 " ng-model="document.name" />
            </div >

            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >昵称:</label >
                </div >
                <input type="text" class="col-3 " ng-model="document.name" />

                <div class="form-label col-1-half" >
                    <label >状态:</label >
                </div >
                <select class="col-3" ng-model="document.docType" >
                    <option value="contract_protocol" >未启用</option >
                    <option value="business_license" >启用</option >
                    <option value="certificate" >暂停</option >
                    <option value="certificate" >注销</option >
                </select >

            </div >

            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >备注:</label >
                </div >
                <textarea class="col-7-half label-1" rows="10" ng-model="document.description" ></textarea >
            </div >

            <div class="row" >
                <div class="form-label col-1-half" >
                    <label >采集人:</label >
                </div >
                <span class="col-3" ng-bind-template="{{document.createPersonName}}" ></span >

                <div class="form-label col-1-half" >
                    <label >采集时间:</label >
                </div >
                <span ng-bind-template="{{document.createdDatetime}}" ></span >
            </div >
        </div >
    </div >
</div >