<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="form-label col-3">
                            <label>旧密码:</label>
                        </div>
                        <input class="col-7" type="password" ng-model="oldPassword"
                               validate validate-required validate-max-length="20"/>
                    </div>
                    <div class="row">
                        <div class="form-label col-3">
                            <label validate-error="form.password">密码:</label>
                        </div>
                        <input class="col-7" type="password" ng-model="password" name="password"
                               validate validate-required validate-max-length="20"
                               validate-msg="密码必填且新旧密码必须一致!"/>
                    </div>
                    <div class="row">
                        <div class="form-label col-3">
                            <label>确认密码:</label>
                        </div>
                        <input class="col-7" type="password" ng-model="password2" name="password2"
                               validate validate-required validate-max-length="20"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer" ng-cloak>
                <button type="button" class="btn btn-default btn-primary"
                        ng-disabled="form.$invalid || (password!==password2)" ng-click="ok();">
                    确认
                </button>
                <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
            </div>
        </div>
    </div>
</div>