<div class="block noborder">
    <div class="block" style="border: 0px;">
        <div class="table-responsive panel panel-table first-min">
            <table class="table table-striped table-hover">

                <tr>
                    <td>主叫号码:</td>
                    <td> 01088888888</td>
                    <td> 姓名:</td>
                    <td> 姚旭(先生)</td>
                    <td> 客户ID:</td>
                    <td> BJ00331</td>
                </tr>
                <tr>
                    <td>被叫号码:</td>
                    <td> 01088888888</td>
                    <td> 客户类型:</td>
                    <td> 普通客户</td>
                    <td> 邮件:</td>
                    <td> yaoxu@ulane.com.cn</td>
                </tr>
                <tr>
                    <td>来电地区:</td>
                    <td> 北京市海淀区</td>
                    <td> 电话:</td>
                    <td> 01082825757</td>
                    <td> 手机:</td>
                    <td> 15201198156</td>
                </tr>
                <tr>
                    <td>IVR选择:</td>
                    <td> 软件化</td>
                    <td> 地址:</td>
                    <td colspan="3"> 北京市海淀区北二街8号soho大厦</td>
                </tr>
            </table>
        </div>
    </div>

</div>