<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:680px;">
            <div class="modal-header" static="">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="modal-title" >服务受理</h4>
            </div>
            <div class="modal-body">
                <div class="block-content">
                    <div class="content-wrap">
                        <form name="form" class="form-horizontal" role="form">
                            <div style="display: none;">
                                <input type="hidden" ng-model="page.type" ng-init="page.type='${pageType}'"/>
                                <input type="hidden" ng-model="sendSMS.id" ng-init="sendSMS.id=('${id}') || null"/>
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>服务类型:</label>
                                </div>
                                <select class="col-2-half">
                                    <option>投诉受理</option>
                                    <option>业务咨询</option>
                                </select>
                                <div class="form-label col-2">
                                    <label>请求途径:</label>
                                </div>
                                <div class="col-2-half">
                                    <select class="col-6-half" style="margin-right: 5px;">
                                        <option>请选择</option>
                                    </select>
                                    <input name="dealPeople" type="text" class="col-5"/>
                                </div>
                                <div class="form-label col-1-half">
                                    <label>服务事项:</label>
                                </div>
                                <input name="dealPeople" class="col-2" type="text" ng-model="sendSMS.dealPeople"/>

                            </div>

                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>申请时间:</label>
                                </div>
                                <input class="col-2-half ng-pristine ng-valid" type="text" ng-model="condition.endDateEnd"
                                       bs-datepicker readonly data-min-date="{{condition.endDateStart}}"/>
                            <span class="add-on col">
                                <i class="glyphicons calendar icon" title="清除时间"
                                   ng-click="condition.endDateEnd=undefined;"></i>
                            </span>
                                <div class="form-label col-2">
                                    <label>申请人:</label>
                                </div>
                                <input name="dealPeople" type="text" class="col-2-half"/>
                                <span class="add-on col">
									<i class="glyphicons user icon"></i>
								</span>
                                <div class="form-label col-1-half">
                                    <label>客户态度:</label>
                                </div>
                                <select class="col-2">
                                    <option>请选择</option>
                                    <option>满意</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>主题:</label>
                                </div>
                                <input name="dealPeople" type="text" class="col-7"/>
                                <div class="form-label col-1-half">
                                    <label>编号:</label>
                                </div>
                                <input name="code" type="text" class="col-2"/>
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>紧急程度:</label>
                                </div>
                                <select class="col-2-half">
                                    <option>请选择</option>
                                    <option>非常紧急</option>
                                </select>
                                <div class="form-label col-2">
                                    <label>要求响应时间:</label>
                                </div>
                                <input type="text" class="col-2-half ng-pristine ng-valid"
                                       ng-model="condition.startDateStart"
                                       bs-datepicker readonly data-max-date="{{condition.startDateEnd}}"/>
                                <span class="add-on col">
                                    <i class="glyphicons calendar icon" title="清除时间"
                                       ng-click="condition.startDateStart=undefined;"></i>
                                </span>
                                <div class="form-label col-1-half">
                                    <label>重要程度:</label>
                                </div>
                                <select class="col-2">
                                    <option>请选择</option>
                                    <option>非常严重</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>受理人:</label>
                                </div>
                                <input  type="text" class="col-2-half"/>
                                <span class="add-on col">
									<i class="glyphicons user icon"></i>
								</span>
                                <div class="form-label col-2">
                                    <label>要求完成时间:</label>
                                </div>
                                <input type="text" class="col-2-half ng-pristine ng-valid"
                                       ng-model="condition.startDateStart1"
                                       bs-datepicker readonly />
                                <span class="add-on col">
                                    <i class="glyphicons calendar icon" title="清除时间"
                                       ng-click="condition.startDateStart1=undefined;"></i>
                                </span>


                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>备注:</label>
                                </div>
                                <textarea rows="6" class="col-10-half" ng-model="menu.description" ></textarea >
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>处理结果:</label>
                                </div>
                                <select class="col-2-half">
                                    <option>请选择</option>
                                </select>
                                <div class="form-label col-2">
                                    <label>下一个处理人:</label>
                                </div>
                                <input name="code" type="text" class="col-2-half"/>
                                <span class="add-on col">
									<i class="glyphicons user icon"></i>
								</span>
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>处理意见:</label>
                                </div>
                                <textarea rows="6" class="col-10-half" ng-model="menu.description1" ></textarea >
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>附件:</label>
                                </div>
                                <div eccrm-upload="uploadOptions" class="col-2-half" ></div >
                                <div class="form-label col-1-half">
                                    <label>是否恢复:</label>
                                </div>
                                <div class="col-6" >
                                    <div class="col-4-half">
                                        <input id="lunar" type="radio" value="0" ng-model="customer.cal"/>
                                        <label for="lunar">不需要</label>
                                        <input id="solar" type="radio" value="1" ng-model="customer.cal"/>
                                        <label for="solar">需要在</label>
                                    </div>

                                    <input type="text" class="col-5 ng-pristine ng-valid"
                                           ng-model="condition.startDateStart"
                                           bs-datepicker readonly data-max-date="{{condition.startDateEnd}}"/>
                                    <span class="add-on col">
                                        <i class="glyphicons calendar icon" title="清除时间"
                                           ng-click="condition.startDateStart=undefined;"></i>
                                    </span>
                                    <span class="spanText col-1-half" ng-bind-template="前回复" style="margin-left: 3px;"></span >
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label></label>
                                </div>
                                <div class="row legend col-12" style="margin-top: 0!important;">
                                    <div class="legend-title"><span style="font-size: 16px;font-weight: 900;">知识库</span></div>
                                    <div class="block" style="padding: 10px 8px;height: 115px;">
                                        <div class="block-content">
                                            <div class="content-wrap">
                                                <div class="table-responsive panel panel-table first-min">
                                                    <table class="table table-striped table-hover">
                                                        <thead class="table-header">
                                                        <tr>
                                                            <td>标题</td>
                                                            <td>摘要</td>
                                                            <td>关键字</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="table-body">
                                                        <tr>
                                                            <td>客户申请</td>
                                                            <td></td>
                                                            <td>申请</td>
                                                        </tr>
                                                        <tr>
                                                            <td>客户投诉</td>
                                                            <td></td>
                                                            <td>投诉</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-primary" ng-click="save();"
                        ng-disabled="form.$invalid">保存
                </button>
                <button type="button" class="btn btn-default" ng-click="close()">关闭</button>
            </div>
        </div>
    </div>
</div>
<div/>

