<div class="block noborder">
        <div class="block" style="border: 0px;">
            <div class="block-content">
                <div class="content-wrap">
                    <div class="table-responsive panel panel-table first-min">
                        <table class="table table-striped table-hover" >
                            <thead class="table-header">
                            <tr>
                                <td>编号</td>
                                <td>类型</td>
                                <td>来源</td>
                                <td>业务事项</td>
                                <td>紧急程度</td>
                                <td>联系人</td>
                                <td>请求时间</td>
                                <td>相关项</td>
                                <td>相关项编号</td>
                                <td>受理人</td>
                                <td>受理部门</td>
                                <td>要求响应时间</td>
                                <td>要求完成时间</td>
                                <td>状态</td>
                                <td>完成时间</td>
                                <td>处理结果</td>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            <tr>
                                <td>001</td>
                                <td>咨询工单</td>
                                <td>发起源</td>
                                <td></td>
                                <td>紧急</td>
                                <td>张三</td>
                                <td>2012.12.12</td>
                                <td>订单</td>
                                <td>ZX-001</td>
                                <td>李四</td>
                                <td>开发</td>
                                <td>2012.12.12</td>
                                <td>2014.12.12</td>
                                <td>启用</td>
                                <td>2015.1.1</td>
                                <td>已完成</td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>投诉工单</td>
                                <td>电话</td>
                                <td>产品质量问题</td>
                                <td>重要紧急</td>
                                <td>李四</td>
                                <td>2012.12.12</td>
                                <td>产品</td>
                                <td>TS-001</td>
                                <td>李四</td>
                                <td>开发</td>
                                <td>2013.11.25</td>
                                <td>2013.12.3</td>
                                <td>已关闭</td>
                                <td>2013.12.3</td>
                                <td>处理中</td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>业务工单</td>
                                <td>QQ</td>
                                <td>业务不清楚</td>
                                <td>重要</td>
                                <td>网路</td>
                                <td>2012.11.22</td>
                                <td>产品</td>
                                <td>YW-003</td>
                                <td>李四</td>
                                <td>客服2部</td>
                                <td>2014.2.1</td>
                                <td>2014.2.12</td>
                                <td>启用</td>
                                <td>2014.2.14</td>
                                <td>处理中</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

</div>