<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header" static="">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="modal-title">分配规则</h4>
            </div>
            <div class="modal-body">
                <div class="block-content" style="height: 100%;overflow: auto;padding: 5px;border: 1px solid #DDDDDD;" >
                    <div class="content-wrap">
                        <form name="form" class="form-horizontal" role="form">
                            <div style="display: true;">
                            </div>
                            <div class="row">
                                <div class="form-label col-1-half">
                                    <label>岗位分类:</label>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="col-12" ztree-single="ClassifyztreeOptions"
                                           ng-model="beans.classify.name"/>
                                    <input type="hidden" ng-model="beans.classify.id"/>
                                </div>
                                <span class="header-button" style="margin-left: 10px">
                                    <button type="button" class="btn btn-green btn-min" ng-click="query()">
                                        <span class="glyphicons  binoculars"></span>
                                        查询
                                    </button>
                                    <button type="button" class="btn btn-green btn-min" ng-click="reset()">
                                        <span class="glyphicons repeat"></span>
                                        清空
                                    </button>
                                </span>
                            </div>

                            <div class="row">

                                <div class="col-12 list-result">
                                    <div class="block-content" style="margin:10px;">
                                        <div class="col-5 block" style="height:300px; ">
                                            <div class="block-header">
                                            <span class="header-text">
                                                <span class="glyphicons search"></span>
                                                    <span>可选岗位</span>
                                            </span>
                                            </div>
                                            <div class="block-content">
                                                <div class="content-wrap">
                                                    <div class="table-responsive panel panel-table" style="max-height: none">
                                                        <table class="table table-striped table-hover">
                                                            <thead class="table-header">
                                                            <tr>
                                                                <td style="width: 12px">
                                                                    <div select-all-checkbox checkboxes="positionAllotd"
                                                                         selected-items="itemd" anyone-selected="anyone"></div>
                                                                <td style="width: 30%">岗位名称</td>
                                                                <td>简称</td>
                                                                <td>岗位类型</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="table-body">
                                                            <tr ng-show="!positionAllotd||positionAllotd.length== 0" >
                                                                <td colspan="4" class="text-center" >没有符合条件的记录！</td >
                                                            </tr >
                                                            <tr ng-repeat="foo in positionAllotd" ng-show="positoinlist.total != 0">
                                                                <td>
                                                                    <input type="checkbox" style="height: 12px;" ng-model="foo.isSelected"/>
                                                                </td>
                                                                <td >
                                                                    <span  ng-bind-template="{{ foo.name }}"></span></td>
                                                                <td><span ng-bind-template="{{ foo.shortName }}"></span></td>
                                                                <td><span ng-bind-template="{{ foo.roleType}}"></span></td>

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2"
                                             style="height: 100%;overflow: hidden;text-align: center;padding: 10px;">
                                            <div style="height: 160px;margin-top:55%;">
                                                <div class="row" style="margin-bottom: 10px">
                                                    <label style="cursor: pointer">
                                                        <span class=" icons right2" ng-click="selectAll()" ></span>
                                                    </label>
                                                </div>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <label style="cursor: pointer">
                                                        <span class=" icons right" ng-click="selectOne()" ></span>
                                                    </label>
                                                </div>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <label style="cursor: pointer">
                                                        <span class=" icons left" ng-click="deleteOne()" ></span>
                                                    </label>
                                                </div>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <label style="cursor: pointer">
                                                        <span class=" icons left2" ng-click="deleteAll()" ></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 block" style="height:300px;  ">
                                            <div class="block-header">
                                            <span class="header-text">
                                                <span class="glyphicons search"></span>
                                                    <span>已选岗位</span>
                                            </span>
                                            </div>
                                            <div class="block-content">
                                                <div class="content-wrap">
                                                    <div class="table-responsive panel panel-table" style="max-height: none">
                                                        <table class="table table-striped table-hover">
                                                            <thead class="table-header">
                                                            <tr>
                                                                <td style="width: 12px">
                                                                    <div select-all-checkbox checkboxes="positionAllots"
                                                                         selected-items="items" anyone-selected="anyones"></div>
                                                                <td style="width: 30%">岗位名称</td>
                                                                <td>简称</td>
                                                                <td>岗位类型</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="table-body">
                                                            <tr ng-show="!positionAllots||positionAllots.length== 0" >
                                                                <td colspan="4" class="text-center" >没有符合条件的记录！</td >
                                                            </tr >
                                                            <tr ng-repeat="foo in positionAllots" ng-show="positionAllots.total != 0">
                                                                <td>
                                                                    <input type="checkbox" style="height: 12px;" ng-model="foo.isSelected"/>
                                                                </td>
                                                                <td >
                                                                    <span  ng-bind-template="{{ foo.name }}"></span></td>
                                                                <td><span ng-bind-template="{{ foo.shortName }}"></span></td>
                                                                <td><span ng-bind-template="{{ foo.roleType}}"></span></td>

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer" ng-cloak>
                <button type="button" class="btn btn-default btn-primary" ng-click="save();"
                        ng-disabled="form.$invalid">保存
                </button>

                <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
            </div>

        </div>
    </div>
</div>
<div/>



