<div class="modal" tabindex="-1" role="dialog">
<div class="modal-dialog" style="width: 900px;height: 700px !important;">
<div class="modal-content"  style="width: 900px;height: 550px !important;">
<div class="modal-header" static="">
    <button type="button" class="close" ng-click="$hide()">×</button>
    <h4 class="modal-title">选择人员</h4>
</div>
<div class="modal-body"style="width: 900px;height: 460px !important;">


    <div class="row panel panel-tree" >
        <input type="hidden" id="contextPath" value="<%=request.getContextPath()%>"/>
        <div class="tree" style="border: 1px solid #B7C1CB;width: 200px" >
            <div class="tree-content" >
                <ul id="treeDemoy" class="ztree" ></ul >
            </div >
            <div class="scroller" ></div >
        </div >
        <div class="content" style="padding-left: 205px;height: 100%" >
            <div class="list-result" >
                <div class="block" >
                    <div class="block-header">
                        <div class="header-text">
                            <span>员工列表</span>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="content-wrap">
                    <div class="table-responsive panel panel-table first-min" style=" max-height:none; ">
                        <table class="table table-striped table-hover" >
                            <thead class="table-header" >
                            <tr >
                                <td> <div select-all-checkbox checkboxes="beans.data" selected-items="items"
                                          anyone-selected="anyone"></div></td>
                                <td >姓名</td >
                                <td >工号</td >
                                <td >职务</td >
                                <td >移动电话</td >
                                <td >电子邮件</td >
                                <td >RTX</td >
                                <td >工作地点</td >
                                <td >类型</td >
                                <td >状态</td >
                            </tr >
                            </thead >
                            <tbody class="table-body" >
                            <tr ng-show="!beans|| beans.data.length == 0 || !beans.data" >
                                <td colspan="10" class="text-center" >没有查询到数据！</td >
                            </tr >
                            <tr ng-repeat="foo in beans.data" ng-show="beans.total != 0">
                                <td>
                                    <input type="checkbox" style="height: 12px;" ng-model="foo.isSelected"/>
                                </td>
                                <td><span ng-bind-template="{{ foo.employeeName }}"></span></td>
                                <td><span ng-bind-template="{{ foo.employeeCode }}"></span></td>
                                <td><span ng-bind-template="{{ foo.duty }}"></span></td>
                                <td><span ng-bind-template="{{ foo.mobile }}"></span></td>
                                <td><span ng-bind-template="{{ foo.email }}"></span></td>
                                <td><span ng-bind-template="{{ foo.extensionNumber }}"></span></td>
                                <td><span ng-bind-template="{{ foo.wAddress }}"></span></td>
                                <td><span ng-bind-template="{{ foo.workType }}"></span></td>
                                <td><span ng-bind-template="{{ foo.status }}"></span></td>

                            </tr>
                            </tbody >
                        </table >
                    </div >
                    </div>
                        </div>
                </div >
            </div >
            <div eccrm-page="pager" class="list-pagination" ></div >
        </div >
    </div >
</div>
<div class="modal-footer" ng-cloak>
    <button type="button" class="btn btn-default btn-primary" ng-click="save();"
            >保存
    </button>
    <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
</div>

</div>
</div>
</div>
<div/>



