<div class="main condition-row-1">
    <div eccrm-alert="alert"></div>

    <div class="list-condition">
        <div class="block">
            <div class="block-header">
					<span class="header-button">
						<a type="button" class="btn btn-green btn-min" ng-click="query();">
                            <span class="glyphicons search"></span> 查询
                        </a>
						<button type="button" class="btn btn-green btn-min" ng-click="condition={}">
                            <span class="glyphicons repeat"></span> 重置
                        </button>
                    </span>
            </div>
            <div class="block-content">
                <div class="content-wrap">
                    <div class="row">
                        <div class="form-label col-1-half">
                            <label>发送人:</label>
                        </div>

                        <input class="col-2-half" type="hidden" ng-model="condition.creatorId"/>
                        <input class="col-2-half" type="text" ng-model="condition.creatorName"
                               ng-click="single()"/>
                        <span class="add-on">
                            <i class="glyphicons user icon" ng-click="condition.creatorName=null"></i>
                        </span>

                        <div class="form-label col-1-half">
                            <label>发送时间:</label>
                        </div>
                        <div class="col-2-half">
                            <input type="text" class="col-5-half" bs-datepicker
                                   ng-model="condition.invalidStartDate" data-date-format="yyyy-MM-dd" readonly
                                   autoclose="true" placeholder="选择日期" data-max-date="{{condition.invalidEndDate}}"
                                   data-container="body"/>
				    <span class="add-on">
				        <i class="glyphicons calendar icon" title="清除时间" ng-click="condition.invalidStartDate='';"></i>
				    </span>
                            <span class="col-1" style="text-align: center"> - </span>
                            <input type="text" class="col-5-half" bs-datepicker
                                   ng-model="condition.invalidEndDate" data-min-date="{{condition.invalidStartDate}}"
                                   data-date-format="yyyy-MM-dd" readonly
                                   autoclose="true" placeholder="选择日期" data-container="body"/>
				    <span class="add-on">
				        <i class="glyphicons calendar icon" title="清除时间" ng-click="condition.invalidEndDate='';"></i>
				    </span>
                        </div>

                        <div class="form-label col-1-half">
                            <label></label>
                        </div>

							<span class="col-2-half">
                                <label style="cursor: pointer;margin-right: 10px;">
                                    <input type="checkbox" style="height: 12px;" ng-model="condition.isread"
                                           />已阅读
                                </label>
                                <label style="cursor: pointer;margin-right: 10px;">
                                    <input type="checkbox" style="height: 12px;" ng-model="condition.isReply"
                                           />已回复
                                </label>
                            </span>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <div class="list-result">
        <div class="block">
            <div class="block-header">
                <div class="header-text">
                    <span class="glyphicons list"></span> <span>收信箱列表</span>
                </div>
                <div class="header-button">

                    <!-- <a type="button" class="btn btn-green btn-min" ng-click="send()">
                         <span class="glyphicons message_out"></span> 发送 </a>-->
                </div>
            </div>
            <div class="table-responsive panel panel-table ">
                <table class="table table-striped table-hover ">
                    <thead class="table-header">
                    <tr>
                        <td>内容</td>
                        <td style=" width: 10px; white-space: nowrap;text-align: center;vertical-align: middle;">发送人
                        </td>
                        <td style=" width: 10px; white-space: nowrap;text-align: center;vertical-align: middle;">发送时间
                        </td>
                        <td style=" width: 10px; white-space: nowrap;text-align: center;vertical-align: middle;">已阅读
                        </td>
                        <td style=" width: 10px; white-space: nowrap;text-align: center;vertical-align: middle;">已回复
                        </td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody class="table-body">
                    <tr ng-show="!onlineTalks || !onlineTalks.data || !onlineTalks.data.length">
                        <td colspan="7" class="text-center">没有符合条件的记录！</td>
                    </tr>
                    <tr ng-repeat="foo in onlineTalks.data" ng-click="$parent.selected=foo">
                        <td>
                            <a style="cursor: pointer"
                               ng-bind-template="{{foo.contentText.length > 48 ? foo.contentText.substring(0, 48) + '...' : foo.contentText}}"
                               ng-href="operating/operatingOnlineContact/inboxDetail/{{foo.id}}" title="查看">
                            </a>
                            <!--ng-bind-html="foo.content | limitTo:45"-->
                        </td>
                        <td ng-bind-template="{{ foo.creatorName}}"></td>
                        <td ng-bind-template="{{ foo.createdDatetime | date:'yyyy-MM-dd HH:mm:ss'}}"
                            style="width: 12%"></td>
                        <td ng-bind-template="{{foo.isread?'是':'否'}}"></td>
                        <td ng-bind-template="{{ foo.isReply?'是':'否'}}"></td>
                        <td>
                            <a type="button" class="btn btn-tiny" ng-click="reply(foo.id)" title="回复"
                               ng-disabled="foo.needReply ==false || foo.status =='2'">
                            <span class="glyphicons edit"></span>
                            </a>
                            <!--<a type="button" class="btn btn-tiny"
                               ng-click="forwarding('222222')" title="转发">
                                <span class="glyphicons redo"></span>
                            </a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div eccrm-page="pager" class="list-pagination"></div>


</div>