<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header" static="">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="modal-title">权限设置</h4>
            </div>
            <div class="modal-body">
                <div class="block-content">
                    <div class="content-wrap">
                        <form name="form" class="form-horizontal" role="form">
                            <div class="row">
                                <span class="col-half"></span>
                                <div class="row legend " style="margin-top: 10px!important;margin-right: 2.166666666666667%;">
                                    <div class="legend-title">首页</div>
                                    <div class="block" style="padding: 10px 15px; ">
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distrssata"/> 计划代办
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disibutwta"/> 理赔代办
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distibunData"/> 领导桌面查看安监工作模式
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distrionDa"/> 领导查看保险模式
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributionData"/> 领导桌面查看计划模块
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.dutioData"/> 领导察看事故模式
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.diribuata"/> 领导桌面查看隐患模式
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.dionDatja"/> 领导桌面查看灾害模式
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distiuonData"/> 事故代办
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.diriutionta"/> 首页关注
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distriutinata"/> 首页日历
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disrbutinDta"/> 首页统计
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.ditrbtonata"/> 投保代办
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disrbtinData"/> 隐患代办
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-half"></span>
                                <div class="row legend " style="margin-top: 10px!important;margin-right: 2.166666666666667%;">
                                    <div class="legend-title">计划</div>
                                    <div class="block" style="padding: 10px 15px; ">
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distrnData"/> 计划查看
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distribata"/> 计划查询
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributata"/> 计划填报
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributa"/> 计划统计
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disutionData"/> 计划信息
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.dionData"/> 计划中的批量导入
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disData"/> 我的计划
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distata"/> 消控室报警记录查询页
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distinData"/> 消控室报警记录详情页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.diata"/> 消控室电话记录查询页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disa"/> 消控室电话记录填报页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.di"/> 消控室电话记录详情页
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distritionta"/>消控室设备故障记录详情页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distritiona"/>消控室设备故障记录查询页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distribuoata"/>消控室设备故障记录填报页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distriyuata"/>消控室设备故障记录详情页
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disribta"/>新版安全计划上线页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distruta"/>新版安全计划下线页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distriboData"/>新版安全计划模板查询页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.ditrnData"/>新版安全计划模板制定页
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disrita"/>新版安全计划填报页
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.diributa"/>新版安全计划详情页（用于跳转页）
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distrib9nData"/>新版安全计划详情页A
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.disribioData"/>新版安全计划详情页B
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-half"></span>
                                <div class="row legend " style="margin-top: 10px!important;margin-right: 2.166666666666667%;">
                                    <div class="legend-title">隐患</div>
                                    <div class="block" style="padding: 10px 15px; ">
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distrionData"/>规划院判定责任
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributinDta"/>集团关闭
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributta"/>集团修改隐患
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.dist"/>批量导入
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distri"/>事故查询
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distriba"/>事故抄送
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distribu"/>事故超级权限
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distribut"/>事故发布抄送查看
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributi"/>事故认定
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributio"/>事故填报
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distribution"/> 我的隐患
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributionD"/>系统隐患内部判定人
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributionDa"/>隐患查询
                                            </div>
                                            <div class="col-3">
                                                <input name="distributionData" type="checkbox"
                                                       ng-model="position.distributionDat"/>隐患流程图
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer" ng-cloak>
                <button type="button" class="btn btn-default btn-primary" ng-click="save();"
                        ng-disabled="form.$invalid">确认
                </button>
                <button type="button" class="btn btn-default" ng-click="close()">关闭</button>
            </div>

        </div>
    </div>
</div>
<div/>



